
/* ===============КОНСТАНТИ============================ */



/* =============СТУДІЯ============================= */


/* ===================ХЕДЕР ГОЛОВНОЇ СТОРІНКИ==================== */

.page-header-container {
    display: flex; 
    align-items: center; 
    justify-content: space-between;
   
}
.page-nav {
    display: flex;
    align-items: center;
}
.header {
    background-color: var(--color-white);
    padding-top: 24px;
    padding-bottom: 25px;
}

.head-web-studio {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-style: normal;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: var(--letter-spacing-normal);
    margin-right: 93px;
}
.first-part {
    color: var(--color-light-blue);
}
.second-part {
    color: #000000 ;
}
.navigation-menu {
    display: flex;
    column-gap: 50px;
}
.menu-nav-link {
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--color-dark);
    transition: color var(--transition-dur-and-func);
}
.menu-nav-link:hover { color:var(--color-dark-blue)}
.menu-nav-link:focus { color:var(--color-dark-blue)} 
/* для обох сторінок */

.nav-active {
    color: var(--color-light-blue);
}

.nav-active::after {
    content: "";
    position: absolute;
    display: block;
    width: 48px;
    height: 4px;
    background: var(--color-light-blue);
    margin-left: auto;
    margin-right: auto;
    margin-top: 28px;
}

/* контакти */
.contacts-list {
    display: flex;
}


.item-email {
    margin-right: 50px;
}
.item-link {
    display: flex;
    align-items: center; 
    font-family: var(--primary-font);
    color: var(--color-light-grey);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition: color var(--transition-dur-and-func);
}
.item-link:hover, 
.item-link:focus { color:var(--color-dark-blue)}

.item-link-icon {
   margin-right: 10px;
}
.item-link:hover .contact-email-icon,
.item-link:focus .contact-email-icon {
    fill: var(--color-light-blue)
}
.item-link:hover .contact-telephone-icon,
.item-link:focus .contact-telephone-icon {
    fill: var(--color-light-blue)
}

.contact-email-icon {
    width: 16px;
    height: 12px;
    fill: var(--color-light-grey);
    margin-right: 10px;
    transition: fill var(--transition-dur-and-func);
}
.contact-telephone-icon {
    width: 10px;
    height: 16px;
    fill: var(--color-light-grey);
    margin-right: 10px;
    transition: fill var(--transition-dur-and-func);
}

/* =========ХЕДЕР ГОЛОВНОЇ СТОРІНКИ=================*/
    
 /* ======================МЕЙН================== */
    
/* ===================ШАПКА==================== */
.section-decision {  
    color: var(--color-white);
    font-family: var(--primary-font);
    padding-top: 200px;
    padding-bottom: 200px;
    display: block;
    text-align: center;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),
     rgba(47, 48, 58, 0.4)), 
    url("../images/background-header.jpg");
    background-size: cover;
    background-color: var(--color-dark-grey);
    max-width: 1600px; 
    margin: 0 auto; 
}

.title-decision {
    font-family: var(--primary-font);
    font-weight: 900;
    font-size: 44px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin-bottom: 30px;
}
.button-order {
    background-color: var(--color-light-blue);
    color: var(--color-white);
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: 0;
    padding-top: 10px;
    padding-left: 32px;
    padding-bottom: 10px;
    padding-right: 32px;
    transition: background-color var(--transition-dur-and-func);
}
    .button-order:hover,
    .button-order:focus {
     background-color:var(--color-dark-blue); }
/* ===================ШАПКА==================== */

/* ==========ОСОБЛИВОСТІ=========================== */

.head-title-priorities, 
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}
    
.features-item {
    background-color: #F5F4FA;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
}
.features-icon {
    width: 70px;
    height: 70px;
}

.priorities {
    font-family: var(--primary-font);
    font-size: 14px;
    letter-spacing: var(--letter-spacing-normal);
}
    
.priorities-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
}
.item-priorities {
    flex-basis: calc((100% - 90px) / 4);
}
.title {   
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    text-transform: uppercase;
    color: var(--color-dark);
}
.text {   
    line-height: 24px;            
    color: var(--color-light-grey);
    margin-top: 10px;
}
/* ==========ОСОБЛИВОСТІ=========================== */



/* =============НАША РОБОТА=============================== */

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}
.working {
    padding-top: 0;
}

.section-title {
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: var(--letter-spacing-normal);
    color: var(--color-dark);
    margin-bottom: 50px;
}
.working-list {
    display: flex;
    justify-content: space-between;
}
.working-space {
    position: relative;
}
.working-text {
    display: flex;
    justify-content: center;
    padding-top: 27px;
    padding-bottom: 27px;
    background: rgba(47, 48, 58, 0.8);
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: var(--letter-spacing-normal);
    text-transform: uppercase;
    color: var(--color-white);
    position: absolute;
    bottom: 0;
    left: 0; 
    width: 100%;
    

}
/* =============НАША РОБОТА=============================== */

/* ==================КОМАНДА===================*/
.team-space {
    background-color: #F5F4FA;
}
.team-list {
    display: flex;
    justify-content: space-between;
}
.card {
    background-color: var(--color-white);  
    font-family: var(--primary-font);
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: var(--letter-spacing-normal);
    align-items: center;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    flex-basis: calc((100% - 90px) / 4);
}
.info-team {
    display: block;
    text-align: center;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
}
.name {
    font-weight: 500;
    font-size: 16px;
    color: var(--color-dark);
    margin-bottom: 10px;
}
.position {
    font-weight: 400;
    color: var(--color-light-grey); 

}

.social-list {
    display: flex;
    justify-content: center;
    column-gap: 10px;
    margin-top: 16px;
}
.social-link-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: var(--color-white);
    fill: var(--color-social-icon);
    transition: background-color var(--transition-dur-and-func);  
}
.social-icon {
    width: 20px;
    height: 20px;
    transition: fill var(--transition-dur-and-func); 
}
.social-link-item:hover,
.social-link-item:focus {
    background-color: var(--color-light-blue);
}
.social-link-item:hover .social-icon,
.social-link-item:focus .social-icon {
    fill: var(--color-white);
}
/* ==================КОМАНДА===================*/


/* <!-- ================ПОСТІЙНІ КЛІЄНТИ========================== --> */
.customer-list {
    display: flex;
    column-gap: 30px;
}
.customer-list-item {
    flex-basis: calc((100% - 150px) / 6);
}
.customer-link-item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    transition: border var(--transition-dur-and-func);
}
.customer-link-item:hover .customer-icon,
.customer-link-item:focus .customer-icon {
    fill: var(--color-light-blue)
}
.customer-link-item:hover,
.customer-link-item:focus {
    border: 1px solid #2196F3;
}
.customer-icon {
    width: 106px;
    height: 60px;
    fill: #AFB1B8;
    transition: fill var(--transition-dur-and-func);
}


/* <!-- ================ПОСТІЙНІ КЛІЄНТИ========================== --> */

/* ==============ФУТЕР================================ */
.footer {
    background-color: var(--color-dark-grey);
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
    }
.fotter-a {
    font-style: normal;
    margin-right: 70px;

}
.footer-block {
    display: flex;
    align-items: baseline;
}

.footer-web-studio {
    display: inline-block;
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: var(--letter-spacing-normal);
    margin-bottom: 20px;
}
.f-first-part {
    color: var(--color-light-blue);
}
.f-second-part {
    color: var(--color-white) ;
}
.f-contact-list {
  display: inline;
}

.f-contact:not(:last-child) {
  margin-bottom: 9px;
}
.geo,
.bottom-contacts {
    font-family: var(--primary-font);
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: var(--letter-spacing-normal);
    transition: color var(--transition-dur-and-func);
}
.geo {
    color: var(--color-white);  
}
.bottom-contacts {
    color: #ffffff99;
}
.geo:hover { color:var(--color-dark-blue)}
.bottom-contacts:hover { color:var(--color-dark-blue)}

.geo:focus { color:var(--color-dark-blue)} 
.bottom-contacts:focus { color:var(--color-dark-blue)} 


.social-title {
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: var(--letter-spacing-normal);
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 20px;
}
.footer-social-list {
    display: flex;
    column-gap: 10px;
}
.footer-social-link-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: var(--color-dark-grey);
    background: rgba(255, 255, 255, 0.1); 
    fill: var(--color-white);
    transition: background-color var(--transition-dur-and-func);
    
}
.footer-social-icon {
    width: 20px;
    height: 20px;
    transition: fill var(--transition-dur-and-func);
}
.footer-social-link-item:hover,
.footer-social-link-item:focus {
    background-color: var(--color-light-blue);
}
.footer-social-link-item:hover .footer-social-icon,
.footer-social-link-item:focus .footer-social-icon {
    fill: var(--color-white);
}
/* ==============ФУТЕР================================ */






/* ===========================PORTOFOLIO====================== */


/* ===========ХЕДЕР ПОРТФОЛІО================== */

.page-header-container {
    display: flex; 
    align-items: center; 
    justify-content: space-between;
   
}
.page-nav {
    display: flex;
    align-items: center;
}
.header {
    background-color: var(--color-white);
    padding-top: 24px;
    padding-bottom: 25px;  
    border-bottom: 1px solid #ECECEC;
}

.head-web-studio {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-style: normal;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: var(--letter-spacing-normal);
    margin-right: 93px;
}
.first-part {
    color: var(--color-light-blue);
}
.second-part {
    color: #000000 ;
}
.navigation-menu {
    display: flex;
    column-gap: 50px;
}

.menu-nav-link {
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--color-dark);
    transition: color var(--transition-dur-and-func);
}
.menu-nav-link:hover { color:var(--color-dark-blue)}
.menu-nav-link:focus { color:var(--color-dark-blue)} 

.nav-active {
    color: var(--color-light-blue);
}

.f-nav-active::after {
    content: "";
    position: absolute;
    display: block;
    width: 78px;
    height: 4px;
    background: var(--color-light-blue);
    margin-left: auto;
    margin-right: auto;
    margin-top: 28px;
}


/* ===========ХЕДЕР ПОРТФОЛІО================== */

    
/* ============КНОПКИ ФІЛЬТРІВ============================== */
.title-projects, 
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.btn-filter {
    display: flex;
    flex-wrap: wrap;
    column-gap: 8px;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;

}
.button {
    background-color: #F5F4FA;
    color: var(--color-dark);
    border-radius: 4px;
    border: none;
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    letter-spacing: var(--letter-spacing-normal);
    padding-left: 22px;
    padding-right: 22px;
    padding-top: 6px;
    padding-bottom: 6px;
    transition: color var(--transition-dur-and-func), 
    background-color var(--transition-dur-and-func), 
    box-shadow var(--transition-dur-and-func); 
}
.current {
    background-color:var(--color-dark-blue);
    color: var(--color-white);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12); 
}

.button:hover,
.button:focus  { 
background-color:var(--color-dark-blue);
color: var(--color-white);
box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
 0px 1px 2px rgba(0, 0, 0, 0.08),
 0px 2px 2px rgba(0, 0, 0, 0.12);  }

/* ============КНОПКИ ФІЛЬТРІВ============================== */

/* ===========ФОТО ПРОЄКТІВ======================== */

.project-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.card-project {
    flex-basis: calc((100% - 60px) / 3);
   
}
.card-project-link {
    display: block;
    transition: box-shadow var(--transition-dur-and-func);
}
.card-project-link:hover { 
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);}
.card-project-link:focus { 
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);}
.img-overlay {
    position: relative;
    overflow: hidden;
}
.overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background: rgba(33, 150, 243, 0.9);
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: var(--letter-spacing-normal);
    color: #FFFFFF;
    padding-left: 24px;
    padding-right: 24px;
   
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    top: 0;
    left: 0;
    transition: var(--transition-dur-and-func);
}
.card-project-link:hover .overlay,
.card-project-link:focus .overlay {
    transform: translateY(0%);
   
}
.info-project {
    display: block;
    padding-left: 24px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 24px;
    border-bottom: 1px solid #EEEEEE;
    border-left: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
}
.h-project {
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--color-dark);
    margin-bottom: 4px;
}
.text-project {
    font-family: var(--primary-font);
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: var(--letter-spacing-normal);
    color: var(--color-light-grey);

}
/* ===========ФОТО ПРОЄКТІВ======================== */


/* ====================ФУТЕР ПОРТФОЛІО============*/
.footer {
    background-color: var(--color-dark-grey);
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-a {
    font-style:normal;
 }   
.f-first-part {
    color: var(--color-light-blue);
}
.f-second-part {
    color: var(--color-white) ;
}



.geo,
.bottom-contacts {
    font-family: var(--primary-font);
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: var(--letter-spacing-normal);
    transition: color var(--transition-dur-and-func);
}
.geo {
    color: var(--color-white);  
}
.bottom-contacts { 
    color: #ffffff99; 
}
.geo:hover, 
.geo:focus,
.bottom-contacts:hover, 
.bottom-contacts:focus   { 
    color:var(--color-dark-blue);
}
/* ====================ФУТЕР ПОРТФОЛІО============*/

/* ================РОЗСИЛКА=================== */
.subscribtion {
   margin-left: auto;

}
.title-subscribtion {
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: var(--letter-spacing-normal);
    text-transform: uppercase;
    color: var(--color-white); 
    margin-bottom: 20px;
}
.form-subscribtion {
    display: flex; 

}
.input-subscr {
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 16px;
    line-height: 0.8;
    display: flex;
    align-items: center;
    min-width: 358px;
    min-height: 50px;
    letter-spacing: var(--letter-spacing-normal);
    color: #ffffff99;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    padding-left: 16px;
}
.btn-subscr {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--color-light-blue);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    min-width: 200px;
    min-height: 50px;
    border: 1px solid var(--color-light-blue);
    margin-left: 12px;
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 16px;
    line-height: 0.53;
    letter-spacing: 0.06em;
    color: var(--color-white);
    transition: background-color var(--transition-dur-and-func);
}
.btn-subscr:hover,
.btn-subscr:focus {
    background-color: var(--color-dark-blue);
}
.icon-subscr {
    width: 24px;
    height: 24px;
    margin-left: 10px;
}





/* ====================BACKDROP/MODAL WINDOW============*/

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:  rgba(0, 0, 0, 0.2);
    z-index: 100;
    transition: visibility 250ms ease, opacity 250ms ease;
}
.backdrop.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 528px;
    padding: 40px;
    background-color: var(--color-white);
}
.modal-form {
    display: flex;
    flex-direction: column;
}
.modal-form-field {
    margin-bottom: 10px;
}
.modal-close-btn {
    position: absolute;
    top: 8px;
    right: 8px; 
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    background-color: var(--color-white);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    padding: 0;
    transition: fill var(--transition-dur-and-func);
    
}
.modal-input-icon {
    transition: fill var(--transition-dur-and-func);
}
.modal-close-btn:hover .modal-close-icon,
.modal-close-btn:focus .modal-close-icon {
    fill: var(--color-light-blue)
}
 /* Форма */
.modal-form-title {
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 20px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: var(--letter-spacing-normal);
    color: var(--color-dark);
    margin-bottom: 12px;
}
.modal-tip {
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 12px;
    line-height: 0.86;
    letter-spacing: 0.01em;
    color: var(--color-light-grey); 
    display: block;
    margin-bottom: 4px;
}
.modal-form-input-wrapper {
    position: relative;
}
.modal-input {
    font-size: 12px;
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 42px;
    cursor: text;
    transition: border-color var(--transition-dur-and-func);
}
.modal-input:focus,
.modal-input:hover {
    border-color: var(--color-light-blue);
    outline: none;
}
.modal-input-icon {
    display: block;
    width: 18px;
    height: 18px;
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    transition: fill var(--transition-dur-and-func);
}

.modal-input:focus + .modal-input-icon {
    fill: var(--color-light-blue);
}
.modal-input:hover + .modal-input-icon {
    fill: var(--color-light-blue);
}
/* Коментар */
.modal-form-message {
    width: 100%;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding: 12px 16px;
    resize: none;
    margin-bottom: 20px;
    transition: border-color var(--transition-dur-and-func);
    font-size: 12px;

}
.modal-form-message:hover,
.modal-form-message:focus {
    border-color: var(--color-dark-blue);
    outline: none;
}
/* Чекбокс */
.modal-form-checkbox-field {
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 14px;
    line-height: 0.58;
    letter-spacing: var(--letter-spacing-normal);
    color: var(--color-light-grey); 
    margin-bottom: 30px;
    display: flex;
    align-self: baseline;
    padding-left: 12px;
    
}
.modal-input-checkbox {
    appearance: none;
    position: absolute;
}
.modal-input-chexbox-link {
    color: var(--color-light-blue);
   
}
.checkbox-icon {
    width: 16px;
    height: 15px;
    border: 2px solid var(--color-dark);
    border-radius: 2px;
    cursor: pointer;
    margin-right: 6px;
}
.check-icon-mark {
    display: none;
}
.modal-input-checkbox:checked + .checkbox-icon .check-icon-mark {
    display: block;
}
.modal-input-checkbox:focus + .checkbox-icon {
    border-color:var(--color-light-blue);} 
.modal-input-checkbox:checked + .checkbox-icon { 
    border-color:var(--color-light-blue);}
/* Кнопка прийняти */
.modal-form-submit {
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 16px;
    line-height: 0.53;
    letter-spacing: 0.06em;
    color: var(--color-white);
    background-color: var(--color-light-blue);
    min-width: 200px;
    min-height: 50px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    transition: background-color var(--transition-dur-and-func);
    align-self: center;
}
.modal-form-submit:hover,
.modal-form-submit:focus {
    background-color: var(--color-dark-blue);
}