.menu__link_current {
    color: var(--color-light-blue);

    &::after {
        content: "";
        position: absolute;
        display: block;
        height: 4px;
        background: var(--color-light-blue);
        margin-left: auto;
        margin-right: auto;
        margin-top: 28px;
        width: 48px;
    }
}

.menu__link_portfolio_current {
    color: var(--color-light-blue);

    &::after {
        content: "";
        position: absolute;
        display: block;
        height: 4px;
        background: var(--color-light-blue);
        margin-left: auto;
        margin-right: auto;
        margin-top: 28px;
        width: 78px;
    }
}