.footer__social_title {
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: var(--letter-spacing-normal);
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.footer__social_list {
    display: flex;
    column-gap: 10px;
}

.footer__social_link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: var(--color-dark-grey);
    background: rgba(255, 255, 255, 0.1);
    fill: var(--color-white);
    transition: background-color var(--transition-dur-and-func);

    &:hover,
    &:focus {
        background-color: var(--color-light-blue);
    }

}

.footer__social_icon {
    width: 20px;
    height: 20px;
    transition: fill var(--transition-dur-and-func);

    .footer__social_link:hover &,
    .footer__social_link:focus & {
        fill: var(--color-white);
    }
}