.logo {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    font-style: normal;
    letter-spacing: var(--letter-spacing-normal);
    margin-right: 93px;
}

.logo__first-part {
    color: var(--color-light-blue);
}

.logo__second-part {
    color: #000000;
}

.footer-logo {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    display: inline-block;
    letter-spacing: var(--letter-spacing-normal);
    margin-bottom: 20px;
}

.footer-logo__second-part {
    color: var(--color-white);
}