:root {
    --primary-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
    --color-white: #ffff;
    --color-light-blue: #2196F3;
    --color-dark-blue: #188CE8;
    --color-dark: #212121;
    --color-light-grey: #757575;
    --color-dark-grey: #2F303A;
    --letter-spacing-normal: 0.03em;
    --color-social-icon: #AFB1B8;
    --transition-dur-and-func: 250ms linear;

}